# Allow audioserver to create socket files for audio arbitration
allow audioserver audio_data_file:sock_file { create setattr unlink };
allow audioserver audio_data_file:dir remove_name;
