type camera_socket, file_type, core_data_file_type, data_file_type;
type cnd_core_data_file, file_type, core_data_file_type, data_file_type;
type debugfs_rmt, debugfs_type, fs_type;
type fpc_data_file, core_data_file_type, data_file_type, file_type;
type persist_qc_senseid_file, file_type;
type persist_usf_cal_file, file_type;
type proc_buttons, proc_type, fs_type;
type proc_touchpanel, proc_type, sysfs_type, fs_type;
type qfp-daemon_core_data_file, file_type, core_data_file_type, data_file_type;
type sysfs_cnss_common, sysfs_type, fs_type;
type sysfs_fpc, sysfs_type, fs_type;
type sysfs_fpc_keyevents, sysfs_type, fs_type;
type sysfs_fpc_wakeup, sysfs_type, fs_type;
type sysfs_fpc_proximity, sysfs_type, fs_type;
type sysfs_panel, sysfs_type, fs_type;
type thermal_data_file, core_data_file_type, data_file_type, file_type;
