allow hal_light_default sysfs_leds:lnk_file read;
allow hal_light_default sysfs_leds:file rw_file_perms;
allow hal_light_default sysfs_leds:dir r_dir_perms;
