type init_cnss, domain, domain_deprecated;

init_daemon_domain(init_cnss)

# Shell script needs to execute /system/bin/sh
allow init_cnss shell_exec:file { entrypoint r_file_perms };
allow init_cnss toolbox_exec:file rx_file_perms;

# Allow writing to /sys/module/cnss_common/parameters/bdwlan_file
allow init_cnss sysfs_cnss_common:dir search;
allow init_cnss sysfs_cnss_common:file w_file_perms;

# Allow reading files in /persist, mainly /persist/wlan_bt/ff_flag
allow init_cnss persist_file:dir search;
allow init_cnss persist_file:file r_file_perms;

allow init_cnss self:capability { dac_override dac_read_search };
