type init_wlan, domain, domain_deprecated;
type init_wlan_exec, exec_type, file_type;
init_daemon_domain(init_wlan)

# shell scripts need to execute /system/bin/sh
allow init_wlan shell_exec:file rx_file_perms;
allow init_wlan toolbox_exec:file rx_file_perms;

allow init_wlan sysfs_cnss_common:file w_file_perms;
allow init_wlan sysfs_cnss_common:dir r_dir_perms;
r_dir_file(init_wlan, persist_file);
