binder_use(mm-pp-daemon)

# Allow connections between sensor manager and mm-pp-daemon
allow mm-pp-daemon system_server:unix_stream_socket rw_socket_perms;
