binder_call(qfp-daemon, hal_fingerprint_default)
binder_use(qfp-daemon)

allow qfp-daemon self:socket create_socket_perms;
allowxperm qfp-daemon self:socket ioctl msm_sock_ipc_ioctls;

allow qfp-daemon captouch_device:chr_file rw_file_perms;

allow qfp-daemon persist_file:dir search;

# Access QFP Android Proxy
allow qfp-daemon qfp_proxy_service:service_manager find;

# Add IQfpService service
allow qfp-daemon iqfp_service:service_manager add;

r_dir_file(qfp-daemon, persist_qc_senseid_file)
r_dir_file(qfp-daemon, sensors_persist_file)

# Ignore all logging requests
dontaudit qfp-daemon storage_file:dir search;
