type readmac, domain;
type readmac_exec, exec_type, file_type;

type_transition readmac persist_file:file persist_wlan_mac_file "wlan_mac.bin";

# Allow for transition from init domain to readmac
init_daemon_domain(readmac)

# Allow readmac to communicate with qmuxd via qmux_radio socket
qmux_socket(readmac)

# Allow readmac to fully access wlan_mac.bin persist file
allow readmac persist_file:dir { add_name search write };
allow readmac persist_wlan_mac_file:file create_file_perms;

allow readmac self:socket create_socket_perms;
