type_transition thermal-engine socket_device:sock_file thermal_socket "thermal-perfd-send-client";
type_transition thermal-engine socket_device:sock_file thermal_socket "thermal-perfd-recv-client";
type_transition thermal-engine system_data_file:file thermal_data_file "decrypt.txt";

allow thermal-engine self:capability chown;

allow thermal-engine system_data_file:dir w_dir_perms;
allow thermal-engine thermal_data_file:file create_file_perms;

r_dir_file(thermal-engine, sysfs_batteryinfo)
