type_transition thermal-engine system_data_file:file thermal_data_file "decrypt.txt";

allow thermal-engine thermal_data_file:file create_file_perms;
